@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-bg: #f4f4f5;
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-navy-50: #f0f4ff;
  --color-navy-100: #dce8ff;
  --color-navy-200: #b8d0ff;
  --color-navy-300: #84acff;
  --color-navy-400: #4a7ef5;
  --color-navy-500: #2155d6;
  --color-navy-600: #1a43b0;
  --color-navy-700: #143490;
  --color-navy-800: #0f266e;
  --color-navy-900: #0a1a50;
  --color-navy-950: #060f33;
}
